manifest {
	author = 'Claire Marceaux'
	name = 'MIBI_Training_Pipeline-nf'
	description = 'Workflow to train a ML classifier.'
	homePage = 'https://github.com/BioimageAnalysisCoreWEHI/MIBI-train-model'
}

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
params {
	help	= false
	version	= '0.1'
	run_name = ""
	input	= ""
	label_file = ""
	output_path = "./output"
	preprocess_schemes = "logp1,poly"
	balance_schemes = "TOMEK,ADASYN,SMOTEENN,SMOTE"
	bayescv_iterations = "1,5,10,20"
	options_toml = ""
	decoder = ""
	classifier = "Xgboost"
}

profiles {
	gpu_milton {
		process {
			withLabel:train {
				queue = "gpuq"
				conda = "${projectDir}/environment-gpu.yml"
				cpus = 24
				clusterOptions = "--gres=gpu:A30:1"
			}
		}
	}
}

// Produce a workflow diagram  
// More info: https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
dag {
	enabled = true
	overwrite = true
	file = 'runInfo/dag.svg'
}

// Output resource and runtime reports for a workflow run
// More info: https://www.nextflow.io/docs/latest/tracing.html
report {
	enabled = true
	overwrite = true
	file = 'runInfo/report.html'
}

timeline {
	enabled = true
	overwrite = true
	file = 'runInfo/timeline.html'
}

trace {
	enabled = true
	overwrite = true
	file = 'runInfo/trace.txt'
}

conda.enabled = true