process {
    withLabel:train {
        queue = "gpuq"
        conda = "${projectDir}/envs/environment-gpu.yml"
        cpus = 24
        clusterOptions = "--gres=gpu:1 --constraint=Ampere" // sometimes fails on P100s
        container = "oras://ghcr.io/wehi-researchcomputing/mibi:0.1-gpu"
    }
    withLabel:report {
        conda = "${projectDir}/envs/environment-gpu.yml"
        container = "oras://ghcr.io/wehi-researchcomputing/mibi:0.1-gpu"
    }
}

params {
    classifier = "Xgboost-gpu"
}

conda.useMicromamba = true

singularity.runOptions = "-B /vast -B /stornext -B $HOME --nv"